@CHARSET "UTF-8";

#cal0 {	background-color: green; }
#cal1 {	background-color: red; }
#cal2 {	background-color: blue; }
#cal3 {	background-color: purple; }
#cal4 {	background-color: orange; }
#cal5 {	background-color: yellow; }

.today { background-color: #FFF7D7; border-color: #FAD163; }

.more {	background-color: #DDDDDD; color: white; }
.more:hover, .more:active, .more:focus { background-color: #CCCCCC; }

/* optional styling */
#loginControlDiv {
	font-size: 13px;
}

#navControlDiv {
	font-style: georgia;
	font-size: 12px;	
}

#navControlDiv input {
	border: solid black 1px;
	font-style: georgia;
	font-size: 12px;	
}

#navControlDiv select {
	border: solid black 1px;
	font-style: georgia;
	font-size: 12px;	
}

#viewControlDiv input {
	border: solid black 1px;
	font-style: georgia;
	font-size: 12px;	
}

#eventDisplayDiv {
	padding: 0px;
	color: black;
	background: white;
	font-size: 12px;
	text-align: left;
}

#statusControlDiv {
	font-size: 11px;
	color: red;
	height: 20px;
}

/* required styling */

.columnHeading {
	text-align: center;
	font-size: 12px; 
	color: white; 
	background: gray; 
	border: solid white 1px;
}

.weekViewCell {
	width: 110px;
	height: 270px;
	border: solid gray 1px;
	text-align: left;
}

.monthViewCell {
	width: 110px;
	height: 80px;
	border: solid gray 1px;
	text-align: left;
}

.contentCell {
	padding: 2px;
	font-size: 13px;
	color: black;
	font-family: arial;
}

.eventMouseOver {
	padding: 0px;
	font-size: 10px;
	color: white;	
	background: black;
	font-family: arial;
}

.eventMouseOut {
	padding: 0px;
	font-size: 10px;
	color: blue;
	background: white;
	font-family: arial;
}

.contentCell div {
	color: white;
	padding: 2px;
	border-radius: 5px;
	margin-bottom: 1px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.contentCell .middle {
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
}

.contentCell .first {
  -moz-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
  background: url(right-arrow.gif) no-repeat right center;
}

.contentCell .last {
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
  background: url(left-arrow.gif) no-repeat left center;
  padding-left: 8px;
}
